<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Website</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1><a href = "/">VitalVantage</a></h1>
    </header>
    <main>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Choose a file of your eye to scan:</label>
            <input type="file" id="file" name="file" accept="image/png, image/jpeg, application/json">
            <br><br>
            <input type="submit" value="SUBMIT">
        </form>
    </main>
    
    <footer>
        <p>&copy; 2024 My Basic Website</p>
    </footer>
    <script src="app.js"></script>
</body>
</html>