<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src = "static/calculate.js"></script>
</head>
<body>
    <header>
        <h1>Eye Disease Detection</h1>
    </header>
    <main>

        <p>Welcome to VitalVantage, a website made using HTML, CSS, and Node.js.</p>
        <h1>Your Current Health:</h1>

        <div class = "information">
            <h2>Information:</h2>
            
            <form id = "infoForm" action = "/information" method = "POST"> 
            <label for="height">Height:</label>    
            <input type="text" id="height" name="height" required><br><br>

            <label for="weight">Weight:</label>    
            <input type="text" id="weight" name="weight" required><br><br>

            <label for="sleep">Hours of Sleep:</label>    
            <input type="text" id="sleep" name="sleep" required><br><br>

            <label for="BPM">BPM:</label>    
            <input type="text" id="BPM" name="BPM" required><br><br>

            <label for="bloodPressure">Blood Pressure:</label>    
            <input type="text" id="bloodPressure" name="bloodPressure" required><br><br>
            
            <label for="cholestoral">Cholestoral:</label>    
            <input type="text" id="cholestoral" name="cholestoral" required><br><br>
            
            <input type="submit" value="Submit">
            </form>

        </div>

        <br>
        <div class = "tests">
            
            <a href = "eyeDisease.html">Click here to take a test</a>

        </div>
    
        <div>
            <h1>Got Questions?</h1>
            <form>
            <label for="question">Question:</label>
            
            <input type="text" id="question" name="question" required><br><br>
            <input type="submit" value="Submit">

            </input>

            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Eye Disease Detection</p>
    </footer>
</body>
</html>