<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Eye Disease Detection</h1>
    </header>
    <main>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file-input">Upload an image of an eye:</label>
            <input type="file" id="file-input" name="file" accept="image/*" required>
            <button type="submit">Submit</button>
        </form>
        {% if result %}
        <div id="result">
            <p>Predicted Class: {{ result.predicted_class_name }}</p>
            <p>Confidence: {{ result.confidence }}</p>
        </div>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2024 Eye Disease Detection</p>
    </footer>
</body>
</html>