<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Eye Disease Detection</h1>
    </header>
    <main>
        <div class = "box">
            <p id = "health">{{percentage}}/100</p>
        </div>
        <h1>RESULTS:</h1>

        <p> BMI: {{BMI}}</p>
        <p> Sleep: {{sleep}}</p>
        <p> BPM: {{BPM}}</p>
        <p> Blood Pressure: {{bloodPressure}}</p>
        <p> Cholestoral: {{cholestoral}}</p>

        
        <p><a href = "\">Click here to return to home page</a></p>
    </main>
    <footer>
        <p>&copy; 2024 Eye Disease Detection</p>
    </footer>
</body>
</html>